@import "mixins/mixins";
@import "common/var";

@include b(l-mtag){
  width: 100%;
  height: 100%;

  @include e(main){
    margin-left: 5%;
    width: 90%;
    background-color: transparent;
    height: 100%;
  }
}

@include b(l-mtag-tools){
  width: 100%;
  height: 10%;
  margin-top: 5%;
  display: flex;
  align-items: center;

  @include e(button){
    width: 100%;
    min-width: 5rem;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.16);
  }
}

@include b(l-mtag-table){
  width: 100%;
  height: 75%;
  color: #606266;
  background-color: white;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.06);
  border-radius: 10px;

  @include e(header){
    width: 96%;
    margin-left: 2%;
    height: 10%;
    display: flex;
    align-items: center;
    padding: 1rem;
  }

  @include e(body){
    width: 96%;
    height: 90%;
    margin-left: 2%;
    box-sizing: border-box;
  }

  @include e(tr){
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.06);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
  }
}
